.header__menu-left, .header__menu-right, .header__menu-right-links, .header__down, .content__nav, .content__nav-links, .mailing__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Gilroy';
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../.././fonts/gliroy/Gilroy-Regular.woff2") format("woff2"), url("../.././fonts/gliroy/Gilroy-Regular.woff") format("woff"), url("../.././fonts/gliroy/Gilroy-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

.text {
  text-align: center;
}

.subtitle {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 15px;
  color: #333333;
}

.title {
  /* p-heading / 30b */
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  text-align: center;
  /* accent */
  color: #333333;
}

header {
  height: 100vh;
  background: url("../images/bgc.jpg") no-repeat center center/cover;
}

.header__inner {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-left-items:not(:last-child) {
  margin-right: 40px;
}

.header__menu-left-links {
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  font-weight: 400;
}

.header__menu-left-links:hover {
  opacity: .8;
}

.header__logo a {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  padding: 5px;
}

.header__logo a:hover {
  opacity: .8;
}

.header__menu-right-items:not(:last-child) {
  margin-right: 42px;
}

.header__menu-right-links {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.header__menu-right-links .search-icon {
  margin-right: 16px;
}

.header__menu-right-links:hover {
  opacity: .8;
}

.header__menu-right-icons {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  position: relative;
}

.header__menu-right-icons:first-child {
  margin-right: 30px;
}

.header__menu-right-icons:hover {
  opacity: .8;
}

.header__down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  color: #ffffff;
  font-family: Noto Serif;
  font-weight: 700;
  font-size: 36px;
  /* identical to box height */
  text-align: center;
  margin-bottom: 50px;
}

.header__button {
  border: 1px solid #ffffff;
  background: 0;
  padding: 15px 35px;
  color: #ffffff;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
  margin-bottom: 80px;
}

.header__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.header__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__imgs-items {
  position: relative;
}

.header__imgs-items img {
  width: 100%;
}

.header__imgs-items:not(:last-child) {
  margin-right: 30px;
}

.header__imgs-items:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
}

.content {
  padding: 100px 0 120px;
}

.content__text {
  margin-bottom: 60px;
}

.content__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.content__nav-items {
  border: 1px solid #D6D6D6;
  position: relative;
  height: 55px;
  width: 165px;
}

.content__nav-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -6px;
  top: -6px;
  border: 1px solid #D6D6D6;
  background-color: #F9F9F9;
  height: 100%;
  width: 100%;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: top .3s linear, left .3s linear, bacground .3s linear, color .1s linear, border .2s linear;
  transition: top .3s linear, left .3s linear, bacground .3s linear, color .1s linear, border .2s linear;
}

.content__nav-links.active {
  left: 0;
  top: 0;
  background: #333333;
  color: #ffffff;
  border-color: transparent;
}

.content__nav-links:hover {
  left: 0;
  top: 0;
  background: #333333;
  color: #ffffff;
  border-color: transparent;
}

.content__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__content-item {
  max-width: 350px;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.content__content-item:hover {
  opacity: .8;
}

.content__content-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__content-text {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
}

.about {
  height: 541px;
  background: url("../images/about/bc.png");
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  margin: 100px 0 45px;
}

.about__text .subtitle,
.about__text .title {
  color: #fff;
}

.about__description {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  /* or 25px */
  text-align: center;
  max-width: 730px;
  width: 100%;
  margin: 0 auto 60px;
  /* white */
  color: #FFFFFF;
}

.about__button {
  outline: none;
  border: 0;
  padding: 15px 35px;
  background: #fff;
  font-family: 'Gilroy';
  font-style: 500;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

.about__button:hover {
  background-color: #333333;
  color: #fff;
}

.news__inner {
  margin: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__text {
  margin-bottom: 60px;
}

.news__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  width: 100%;
}

.news__imgs-block {
  max-width: 350px;
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.news__imgs-block:hover {
  opacity: .9;
}

.news__imgs-block:hover .news__imgs-text {
  text-decoration: underline;
}

.news__imgs-text {
  position: absolute;
  left: 50%;
  bottom: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* p / 21r */
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.5;
}

.news__btn {
  padding: 15px 35px;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  background-color: #333;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
  border: 0;
  cursor: pointer;
}

.news__btn:hover {
  background-color: #FFFFFF;
  color: #333;
}

.videos__inner {
  margin: 120px 0 150px;
}

.videos__text {
  margin-bottom: 60px;
}

.tag {
  font-weight: 500;
  font-size: 21px;
  color: #333333;
  margin-bottom: 15px;
}

.videos__videos-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos__videos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos__videos-big {
  position: relative;
  max-width: 555px;
  width: 100%;
  cursor: pointer;
}

.videos__videos-big img {
  width: 100%;
  height: 100%;
}

.videos__videos-big:hover .icon {
  opacity: .8;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.videos__videos-small {
  max-width: 278px;
}

.videos__videos-small img {
  width: 100%;
  height: 100%;
}

.mailing {
  background: url("../images/mailing/bc.png");
  padding: 100px 400px 120px;
}

.mailing__text {
  margin-bottom: 60px;
}

.mailing__text .subtitle,
.mailing__text .title {
  color: #fff;
}

.mailing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mailing__description-item {
  margin-bottom: 15px;
}

.mailing__description-item svg {
  margin-right: 20px;
}

.mailing__description-text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.mailing__form {
  padding: 14px 15px;
  border: 1px solid #fff;
}

.mailing__form__bc {
  background-color: #fff;
  padding: 20px 22px;
}

.mailing__form-input {
  background: 0;
  border: 1px solid #D6D6D6;
  padding: 15px 10px 14px 20px;
  margin-right: 15px;
  width: 200px;
}

.mailing__form-input::-webkit-input-placeholder {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.mailing__form-input:-ms-input-placeholder {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.mailing__form-input::-ms-input-placeholder {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.mailing__form-input::placeholder {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.mailing__form-btn {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 35px;
  background-color: #333333;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
  outline: 0;
  cursor: pointer;
  border: 0;
}

.mailing__form-btn:hover {
  background-color: #fff;
  color: #333;
}
/*# sourceMappingURL=main.css.map */